header {
  background-color: #343a40;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  padding: 12px 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.navbar-brand {
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  margin-right: 1rem;
  font-weight: 500;
}

.navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
  background-color: transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  display: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.navbar-collapse {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-right {
  margin-left: auto;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: rgba(255,255,255,.55);
  padding: 0.5rem 0;
  text-decoration: none;
  display: block;
  transition: color 0.15s ease-in-out;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(255,255,255,.75);
}

.active {
  color: rgba(255,255,255,1);
}

.logout:hover {
  cursor: pointer;
  color: rgba(255,255,255,.75);
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }
  
  .navbar-collapse {
    flex-basis: 100%;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }
  
  .navbar-collapse.show {
    display: flex;
  }
  
  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  
  .navbar-nav .nav-item {
    margin-left: 0;
    margin-top: 0.5rem;
  }
  
  .navbar-right {
    margin-left: 0;
    margin-top: 1rem;
  }
} 